img {
  height: 17vmin;
  width: auto;
}

img:hover {
  position: relative;
  top: 1vmin;
  /* From https://css.glass */
  background: rgba(255, 169, 169, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  cursor: pointer;
}

.gameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.characterGrid {
  height: auto;
  width: fit-content;
  background-image: url('./images/wrj.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding-top: 4vmin;
}

.extraBackground {
  height: auto;
  width: fit-content;
  background-image: url('./images/wrj2.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1vmin black;
}

.glassBackground {
  height: auto;
  width: fit-content;
  /* From https://css.glass */
  background: rgba(255, 169, 169, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 169, 169, 0.14);
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  visibility: hidden;
}